<!--
   Proširivanje osnovnog templatea 'base.html' kako bi se dodali specifični dijelovi sadržaja
   na ovoj podstranici.
-->
{% extends "base.html" %}
{% block content %}
<img class="logo" src="./static/img/logo.png">
<br><br><br><br>
<br><br><br><br>
<div class="form-container">
    <!--
   Forma za prijavu korisnika.
-->
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <span class="regular-text">{{ form.email.label }}</span> {{ form.email }}
            {% for error in form.email.errors %}
            <span class="error-text">[{{ error }}]</span>
            {% endfor %}
            <br><br>
        </div>
        <div class="form-group">
            <span class="regular-text">{{ form.password.label }}</span> {{ form.password }}
            {% for error in form.password.errors %}
            <span class="error-text">[{{ error }}]</span>
            {% endfor %}
        </div>
        <div class="form-submit">
            {{ form.submit(class="action-button") }}
        </div>
    </form>
</div>

{% endblock content %}
