<!--
   Proširivanje osnovnog templatea 'base.html' kako bi se dodali specifični dijelovi sadržaja
   na ovoj podstranici.
-->
{% extends "base.html" %}
{% block content %}
<img class="logo" src="./static/img/logo.png">
<br><br><h1>Knjige</h1>
<!--
    Gumbi za sortiranje knjiga prema cijeni.
-->
<button type="button" class="action-button" onclick="window.location.href='/?id=2'">
    Sortiraj od višoj prema nižoj cijeni
</button>
<button type="button" class="action-button" onclick="window.location.href='/?id=1'">
    Sortiraj od nižoj prema višoj cijeni
</button><br><br>

<!--
   Iteracija kroz sve knjige dobivene iz kontrolera i renderiranje informacija o svakoj knjizi.
-->
{% for book in books %}
<!--
   Ako je korisnik prijavljen, prikaži mogućnost dodavanja knjige u košaricu.
-->
{% if current_user.is_authenticated %}
<a href="{{ url_for('book', book_id=book.id) }}"><img src="{{ url_for('static', filename='img/' + book.image_file) }}"></a>
<a href="{{ url_for('book', book_id=book.id) }}">
    <p><strong>{{ book.title }}</strong><br>
        by <strong>{{ book.author }} </strong><br>
        <i> Cijena: </i> <strong> {{ book.price }}€ </strong></p></a>
<a class="p2" href="/dodaj_u_kosaricu/{{book.id}}">
    <button class="action-button"> Dodaj u košaricu</button>
</a> <br><br><br>
<!--
   Ako je korisnik nije prijavljen, prikaži samo informacije o knjizi bez mogućnosti dodavanja u košaricu.
-->
{% else %}
<a href="{{ url_for('book', book_id=book.id) }}"><img src="{{ url_for('static', filename='img/' + book.image_file) }}"></a>
<a href="{{ url_for('book', book_id=book.id) }}">
    <p><strong>"{{ book.title }}" </strong><br> by <strong>{{ book.author }} {{ book.author }} </strong><br>
        <i> Cijena: </i> <u> {{ book.price }}€ </u></p></a>
<br><br><br>
{% endif %}
{% endfor %}

{% endblock content %}
